.one-half {
	width: 49%;
	margin-left: 2%;
	float: left;
}
.one-half.first {
	margin-left: 0%;
}

.one-third {
	width: 32%;
	margin-left: 2%;
	float: left;
}
.one-third.first {
	margin-left: 0%;
}
.two-third {
	width: 66%;
	margin-left: 2%;
	float: left;
}
.two-third.first {
	margin-left: 0%;
}

.one-fourth {
	width: 23.5%;
	margin-left: 2%;
	float: left;
}
.one-fourth.first {
	margin-left: 0%;
}
.two-fourth {
	width: 49%;
	margin-left: 2%;
	float: left;
}
.two-fourth.first {
	margin-left: 0%;
}
.three-fourth {
	width: 74.5%;
	margin-left: 2%;
	float: left;
}
.three-fourth.first {
	margin-left: 0%;
}